<a href="https://colab.research.google.com/github/yuceahmet/python-project/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install googletrans

Collecting googletrans
  Downloading googletrans-3.0.0.tar.gz (17 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 1.9 MB/s
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (2.10)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.2 MB/s
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (3.0.4)
Collecting hstspreload
  Downloading hstspreload-2021.8.1-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 10.5 MB/s
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (2021.5.30)
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.2 MB/s
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 3.1 MB/s
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.0.0-py3-none-any.whl size=15734 sha256=daee38e5ee0e4fa2d10c3bad41f8c1fc4faa5c228e641ab397bc414a49066a7f
  Stored in directory: /root/.cache/pip/wheels/20/da/eb/a54579056f265eede0417df537dd56d3df5b9eb2b25df0003d
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-3.0.0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2021.8.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0

In [ ]:
import googletrans

In [ ]:
from googletrans import Translator
translate=Translator()

In [ ]:
text="En iyi okul budur."
translator(text, src="tr")

NameError: ignored

In [ ]:
x=["1", "2", "3"]
y=["USA", "JAPAN", "SPAIN"]
[i+j for i in y for j in x]

['USA1',
 'USA2',
 'USA3',
 'JAPAN1',
 'JAPAN2',
 'JAPAN3',
 'SPAIN1',
 'SPAIN2',
 'SPAIN3']

In [ ]:
x=["1", "2", "3"]
y=["USA", "JAPAN", "SPAIN"]
result=[]
for i in y:
  for j in x:
    result.append(i+j)
result

['USA1',
 'USA2',
 'USA3',
 'JAPAN1',
 'JAPAN2',
 'JAPAN3',
 'SPAIN1',
 'SPAIN2',
 'SPAIN3']

In [ ]:
import smtplib

In [ ]:
my_pass="1994Aristo.ay"
server=smtplib.SMTP("smtp.gmail.com", 587)
server.starttls()
server.login("yuce.ahmet.tr@gmail.com", my_pass)
mesaj="python'dan merhaba"
server.sendmail("yuce.ahmet.tr@gmail.com", "yuce.ahmet@yahoo.com.tr", mesaj)
server.quit()

(221, b'2.0.0 closing connection h23sm131508vke.48 - gsmtp')

In [ ]:
server.

In [ ]:
import calendar
for day in calendar.day_name:
  print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [ ]:
for month in calendar.month_name:
  print(month)

January
February
March
April
May
June
July
August
September
October
November
December

In [ ]:
calendar.monthcalendar(2021,9)

[[0, 0, 1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10, 11, 12],
 [13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26],
 [27, 28, 29, 30, 0, 0, 0]]

In [ ]:
print(calendar.monthcalendar(2021,9))

[[0, 0, 1, 2, 3, 4, 5], [6, 7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18, 19], [20, 21, 22, 23, 24, 25, 26], [27, 28, 29, 30, 0, 0, 0]]

In [ ]:
print(calendar.TextCalendar(calendar.SUNDAY).formatmonth(2021,9))

   September 2021
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [ ]:
print(calendar.TextCalendar().formatmonth(2021,9))

   September 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [ ]:
print(calendar.TextCalendar().formatmonth(2021,9,0,0))

   September 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [ ]:
from datetime import date
from datetime import datetime
from datetime import time
from datetime import timedelta
print(str(datetime.now()+timedelta(days=2,weeks=1)))

2021-08-29 21:07:10.328600

In [ ]:
t=datetime.now()-timedelta(weeks=5)    # Gives the date of 5 weeks ago
s=t.strftime("%A %B %d, %Y")
print(s)

Friday July 16, 2021

In [ ]:
today=date.today()
afd=date(today.year,4,1)
if afd < today:
  print("afd already went by %d days ago" % ((today-afd).days))
  afd=afd.replace(year=today.year+1)
time_to_afd=afd-today
print("It's just", time_to_afd.days, "days until afd.")

afd already went by 141 days ago
It's just 224 days until afd.

In [ ]:
def function1(var1=5, var2=7):
  var2=9
  var1=3
  print (var1, " ", var2)
function1(10,12)

3   9

In [ ]:
x = 50
def func(x):
  print('x is', x)
  x = 2
  print('Changed local x to', x)
func(x)
print('x is now', x)

x is 50
Changed local x to 2
x is now 50

In [ ]:
def printMax(a, b):
  if a > b:
    print(a, 'is maximum')
  elif a == b:
    print(a, 'is equal to', b)
  else:
    print(b, 'is maximum')
printMax(3, 4)

4 is maximum

In [ ]:
ops={}
ops["+"](3, 5)

In [ ]:
# n'yi tersten liste yap
n= 8765097555433
[i for i in str(n)][::-1]

['3', '3', '4', '5', '5', '5', '7', '9', '0', '5', '6', '7', '8']

In [ ]:
from datetime import date
from datetime import datetime
from datetime import time
datetime.time()

In [ ]:
from datetime import date
today=date.today()
doğum=date(1972, 4, 9)
bugün=date(today.year, today.month, today.day)
y=yaşanan_gün=date.toordinal(bugün) - date.toordinal(doğum)
print(y)
print (today.weekday())

18029
3

In [ ]:
from datetime import date
doğum=date(1972, 4, 9)
bugün=date(2021, 8, 18)
y=yaşanan_gün=date.toordinal(bugün) - date.toordinal(doğum)
print(y)

18028

In [ ]:
# input : "ey edip adana'da, pide ye!"
# output : "ey edip adana'da, pide ye!" is a palindrome
sentence = str(input("Enter your sentence  :").lower())
def palindrome(x):
    a = ""
    for i in x:
        if i.isalnum():
            a = a+i    
    if a == a[::-1] :
        return "Your sentence/word is palindrome"
    else :
        return "your sentence/word is not palindrome"
print(palindrome(sentence))

Enter your sentence  :Ey edip Adana'da pide ye.
Your sentence/word is palindrome

In [ ]:
def agac(yukseklik):
  for i in range(1, 2*yukseklik, 2):
    print((i*'#').center(2*yukseklik-1))
agac(10)

         #
        ###
       #####
      #######
     #########
    ###########
   #############
  ###############
 #################
###################

In [ ]:
# Belirli aralıkta(sınırlar dahil) verilen rakamın kaç kere olduğunu sayan bir fonksiyon yazalım. 
def saydir(a, b, c):
  sonuc = 0
  for i in range(a, b+1):
    sonuc += str(i).count(str(c))
  return sonuc
saydir(60, 90, 5)

In [ ]:
def cıkar(kelime):
  yeni = ''
  for i in range(len(kelime)-1):
    if kelime[i] != kelime [i+1] :
      yeni += kelime[i]
  yeni += kelime[-1]
  return yeni
print(cıkar("mmmeeerrhhhaaabbbaaa"))

merhaba

In [ ]:
kelime="mmmeeerrhhhaaabbbaaa"
#yeni_kelime=[]
for i in range(1, len(kelime)-1):
  if kelime[i] != kelime[i+1] :
#    yeni_kelime=kelime.append(kelime[i])
    print(kelime[i])

m
e
r
h
a
b

In [ ]:
s=[1,1,1,2,2,3,5,6,6,8,9,9]
Liste=[]
for i in s:
  if s.count(i) == 1: 
    Liste.append(i)
print(Liste)

[3, 5, 8]

In [ ]:
def tek_geçenler(Sayı_Gir):
  List_tek=[]
  for i in Sayı_Gir:
    if Sayı_Gir.count(i)==1:
      List_tek.append(i)
  return List_tek
tek_geçenler([1,1,2,3,3,4,5,5,6,7,8,8,9])

[2, 4, 6, 7, 9]

In [ ]:
a="hello          world"
b=a.split() # default sep=None, boşluklardan kelime kelime ayır.
print(b)    # fazla boşlukları da kaldır.

['hello', 'world']

In [ ]:
x="hello world"
y=x.split(" ") # arasında bir boşluk olanları kelime kelime ayır.
print(y)

['hello', 'world']

In [ ]:
x="hello  my  world" # kelime aralarında 2 boşluk olan cümleyi
y=x.split("  ")  # 2 boşluklu split kelime kelime ayırır.
print(y)

['hello', 'my', 'world']

In [ ]:
x="hello  my  world" # kelime aralarında 2 boşluk olan cümleyi
y=x.split(" ")  # 1 boşluklu split, birinci boşluktan sonra ayırıp, ikinci boşluğu da kelime gibi ayırır.

['hello', '', 'my', '', 'world']

In [ ]:
x="hello my world" # kelime aralarında 1 boşluk olan cümleyi
y=x.split("  ")  # 2 boşluklu split ayırmaz, ikinci boşluğu bulamadığından tüm cümleden sonra ayırır.
print(y)

['hello my world']

In [ ]:
x="hello my world" 
y=x.split("l")  # l'leri yok ederek cümleyi böler, aralara boşluk ve virgül koyar.
print(y)

['he', '', 'o  my  wor', 'd']

In [ ]:
x="hello my world" 
y=x.split("l", 1)  # max split sayısı default sonsuz, burada bir. Sadece bir l kırpıldı.
print(y)

['he', 'lo my world']

In [ ]:
for i in range(1, 51):
    if i % 3 == 0 and i % 5 != 0:
        print('Fizz')
    elif i % 5 == 0 and i % 3 != 0:
        print('Buzz')
    elif i % 15 == 0:
        print('FizzBuzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
n = 50
for i in range(1,n+1):
    if not i % 15:
       print("FizzBuzz")
    elif not i % 5:
        print("Buzz")
    elif not i % 3:
        print("Fizz")
    else:
        print(i)

In [ ]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0 :
        print("FizzBuzz", end = " ")
    elif i % 3 == 0:
        print("Fizz", end = " ")
    elif i % 5 == 0:
        print("Buzz", end = " ")
    else:
        print(i, end = " ")

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz

In [ ]:
for fizzbuzz in range(1,51):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

In [ ]:
for i in range(1,51):
  if i%3==0 and i%5!=0:
    print(i ,"3 ün katı :","fizz")
  elif i%3!=0 and i%5==0:
    print(i ,"5 in katı :","buzz")
  elif i%15==0:
    print(i ,"hem 3 ün hem 5 in katı : ","fizzbuzz")
#  else:
#    pass

3 3 ün katı : fizz
5 5 in katı : buzz
6 3 ün katı : fizz
9 3 ün katı : fizz
10 5 in katı : buzz
12 3 ün katı : fizz
15 hem 3 ün hem 5 in katı :  fizzbuzz
18 3 ün katı : fizz
20 5 in katı : buzz
21 3 ün katı : fizz
24 3 ün katı : fizz
25 5 in katı : buzz
27 3 ün katı : fizz
30 hem 3 ün hem 5 in katı :  fizzbuzz
33 3 ün katı : fizz
35 5 in katı : buzz
36 3 ün katı : fizz
39 3 ün katı : fizz
40 5 in katı : buzz
42 3 ün katı : fizz
45 hem 3 ün hem 5 in katı :  fizzbuzz
48 3 ün katı : fizz
50 5 in katı : buzz

In [ ]:
for i in range(1, 51):
    if i % 3 == 0 and i % 5 != 0:
        print('Fizz')
    elif i % 5 == 0 and i % 3 != 0:
        print('Buzz')
    elif i % 15 == 0:
        print('FizzBuzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
def get_first_value(*numbers):
	x = numbers[0]
	print(x)
get_first_value(1,2,3,4,5)

1

In [ ]:
#LEAST COMMON MULTIPLE
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
def lcm(x):
	max_value = max(list1)
	while True:
		y = True
		for i in list1:
			if max_value % i != 0:
				y = False
		if y:
			return max_value
			break
		else:
			max_value += 1
print(lcm(list1))

2520

In [ ]:
h=[1,2,3,3,3,4,5]
h.count(3) 
max(h)

5

In [ ]:
h = []
# Unless user types `ok`, get input of numbers from the user
while True:
  num = input("Type 'ok' when you are done: ")
# if the input is not equal to `ok`, add the input number to the hei
  if num != "ok":
    height.append(int(num))
# if the input equals to `ok`, get out of the while loop
  else:
    break
n=len(h)
a=0
x=h.count(a)
while a > max(h):
  if h[a] > a and h[n-1] > a+1 : h.count(a) 
  a=a+1 
print(x)
#print(height)

Type 'ok' when you are done: 2
Type 'ok' when you are done: 0
Type 'ok' when you are done: 1
Type 'ok' when you are done: 2
Type 'ok' when you are done: 3
Type 'ok' when you are done: ok

ValueError: ignored

In [ ]:
# ROBOT SÜPÜRGE HAREKETİ EN SON NEREDE DURUR
x = y = 0
C=["right 20", "right 30", "left 40", "up 35", "down 60"]
for i in range(len(C)) :
    if C[i].startswith("r") : x = x + int(C[i].split()[1])
    elif C[i].startswith("l") : x = x - int(C[i].split()[1])
    elif C[i].startswith("u") : y = y + int(C[i].split()[1])
    elif C[i].startswith("d") : y = y - int(C[i].split()[1])
        
[x, y]

[10, -25]

In [ ]:
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
wovels=["a", "i", "u", "e", "o"]
filtered_wovels=filter(lambda x: x in wovels, first_ten)
print(*filtered_wovels)

a e i

In [ ]:
# harf sayısı 5 den küçük olan kelimeler
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]
print(list(filter(lambda x: len(x) < 5, words)))

['swim', 'me', 'kiwi']

In [ ]:
words1=["you", "much", "hard"]
words2=["i", "you", "he"]
words3=["love", "ate", "works"]
sentence = map(lambda x, y, z: x+" "+y+" "+z, words2, words3, words1)
print(list(sentence))

['i love you', 'you ate much', 'he works hard']

In [ ]:
kelimeler = ["ali veli deli", "mehmet ağanın kuzeni", "cemilin-bacısı"]
uzunluk=map(lambda x: len(x), kelimeler)
print(list(uzunluk))

[13, 20, 14]

In [ ]:
kelimeler = ["ali veli deli", "mehmet ağanın kuzeni", "cemilin-bacısı"]
list(map(len, kelimeler))

[13, 20, 14]

In [ ]:
for x in [1,2,3,4,5]:
  print(x, ":", (lambda x : "even" if x%2 == 0 else "odd")(x))

1 : odd
2 : even
3 : odd
4 : even
5 : odd

In [ ]:

(lambda x : x[::-1])("Adem")

'medA'

In [ ]:
x = 'abcd'
for i in range(len(x)):
  i[x].upper()
print (x)

NameError: ignored

In [ ]:
i = 5
while True:
  if i%0xe == 0:
    break
  print(i)
  i += 1

5
6
7
8
9
10
11
12
13

x = 'abcd'
for i in range(len(x)):
  x[i].upper()
  print (x[i])

In [ ]:
x = 'abcd'
for i in range(len(x)):
  x[i].upper()
print (x)

abcd

In [ ]:
x = 'abcd'
for i in range(len(x)):
  y=x[i].upper()
  print (y)

A
B
C
D

In [ ]:
fruits = {'Apples': 5, 'Oranges': 3, 'Bananas': 4}
fruit_names = [x for x in fruits.keys()]  # key'lerin list comprehension'ını verir.
print(fruit_names)

['Apples', 'Oranges', 'Bananas']

In [ ]:
k=[2,3,4]
list(reversed(k))

[4, 3, 2]

In [ ]:
import random
#a=[1, 22, 34, 45, 5, 56]
print(random.random()) # 0-1 arasında seçer

0.6447933864553134

In [ ]:
from datetime import date
from datetime import time
from datetime import datetime
print(date.today())       # date.today()
print(date.today().day)   # date.today().day / month / year
print(date.today().year, date.today().day, date.today().month)
today=date.today()
print(today.year, today.day, today.month)
print(today.weekday())    #Haftanın kaçıncı günü? Pazardan başlar. date.today().weekday()
date.today().weekday()
days=["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
print(days[today.weekday()])
today=datetime.now()      # datetime.now()
print(today)
t=datetime.time(datetime.now()) # datetime.time(datetime.now())  sadece saati verir
print(t)

2021-08-12
12
2021 12 8
2021 12 8
3
Thu
2021-08-12 08:41:38.951816
08:41:38.951926

In [ ]:
e="321"
element = "".join(sorted(e))
print(element)

123

In [ ]:
e="321"
element = "efg".join(sorted(e))
print(element)

1efg2efg3

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
for i in strs:
  element = sorted(i)
  print(element)

['a', 'e', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'b', 't']
['a', 'c', 't']
['a', 'c', 't']

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
for i in strs:
  element = "".join(sorted(i))
  print(element)

aet
aet
ant
aet
ant
abt
act
act

In [ ]:
anag = {}
anag["anahtar"]=["dert"]        # anag[xyz]=[i]    for in ile bir listeden key atanır
anag["anahtar"].append("gün")   # anag[xyz].append(i)     value atanır 

print(anag)

{'anahtar': ['dert', 'gün']}

In [ ]:
# GROUP ANAGRAMS
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
anag = {}
for i in strs:
  element = "".join(sorted(i))
  if element in anag:
    anag[element].append(i) # sözlüğe key olarak ekle
  else:
    anag[element] = [i]
print(list(anag.values()))
print(anag)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat'], 'act': ['cat', 'tac']}

In [ ]:
a = int(input("How many numbers will you enter?"))
liste = list()
for i in range(0, a):
    b = int(input("Please enter the number:"))
    liste.append(b)
print(f"The largest number is : {sorted(liste)[-1]}")7

How many numbers will you enter?4
Please enter the number:5
Please enter the number:6
Please enter the number:7
Please enter the number:8
The largest number is : 8

In [ ]:
x=0
y=int(input("How many numbers will you enter?:"))
N=0
while x<y:
  n=int(input("Please enter the number:"))
  x=x+1
  if n>N:
    N=n
  else: continue
print("The largest number is : ", N)

How many numbers will you enter?:11
Please enter the number:56
Please enter the number:77
Please enter the number:55
Please enter the number:77
Please enter the number:77
Please enter the number:55
Please enter the number:99
Please enter the number:22
Please enter the number:33
Please enter the number:44
Please enter the number:56
The largest number is :  99

In [ ]:
count=0
array=[]
size = int(input("How many numbers will you enter? "))
while count < size:
  number= int(input('Please enter the number: '))
  array.append(number)
  count = count +1
largest = array[0]
for i in array:
  if i > largest:
    largest = i
print("The largest number is : ", largest)

How many numbers will you enter? 4
Please enter the number: 5
Please enter the number: -8
Please enter the number: 3
Please enter the number: 6
The largest number is :  6

In [ ]:
friends = { "ali" : 33, "ahmet": 44, "rose" : 22}
def meaner(ali,ahmet,rose):
    return f"The avarege age :{(ali + ahmet + rose)/3}"
print(meaner(**friends))

The avarege age :33.0

In [ ]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')
brothers("tom", "sue", "tim")   
print(brothers())

Here are the names of brothers :
tom
sue
tim

TypeError: ignored

In [ ]:
f=0
def fonk():
  #global f (burayı aktif yaparsak, fonk dışında da geçerli global bir değer tanımlamış oluruz.)
  # print(f) de fonk() da her ikis "başka" sonucunu basar. Önceki global f ler hükümsüz kalır.
  f="başka"
  print(f)
fonk()
print(f)

başka
0

In [ ]:
def who(first, last):
  print(first, last)
print(who(first))

NameError: ignored

In [ ]:
def add(a, b):
  return(a+b)
add(2, 3)
type(add(2, 3))

int

In [ ]:
data=[10,12,20,30,34,45,50]
def Sum10th(data):
  sum=0
  for i,d in enumerate(data):
    if (i % 10 == 0): sum=sum+d
  return sum

<built-in function sum>

In [ ]:
def SetAnnual():
  global annual
  annual=10000
def PrintMonthly():
  print("Your monthly payment is "+str(annual/12)+" USD.")
SetAnnual()
PrintMonthly()

Your monthly payment is 833.3333333333334 USD.

In [ ]:
def inc(a,b=1):
    return(a+b)
a=inc(1)
a=inc(a,a)
print(a)

4

In [ ]:

def Calc(currency,*rates):
  for i in rates:
    print(currency*i)

In [ ]:
class myClass():
  def method1(self):
    print("myClass method1")
  def method2(self, someString):
    print("myClass method2" + someString)

class anotherClass(myClass):
  def method1(self):
    myClass.method1(self)
    print("anotherClass method1")
  def method2(self, someString):
    print("anotherClass method2")

def main():
  c=myClass()
  c.method1()
  c.method2("This is a string")

  c2=anotherClass()
  c2.method1()
  c2.method2("This is a string2")


print(main())

myClass method1
myClass method2This is a string
myClass method1
anotherClass method1
anotherClass method2
None

In [ ]:
days=["Pzt", "salı", "Çar", "Per", "Cuma", "Cts", "Pazar"]
for i, d in enumerate(days,1):
  print(d,i)

Pzt 1
salı 2
Çar 3
Per 4
Cuma 5
Cts 6
Pazar 7

In [ ]:
days=["Pzt", "salı", "Çar", "Per", "Cuma", "Cts", "Pazar"]
for i, d in enumerate(days):
  print(i,d)

0 Pzt
1 salı
2 Çar
3 Per
4 Cuma
5 Cts
6 Pazar

In [ ]:
days=["Pzt", "salı", "Çar", "Per", "Cuma", "Cts", "Pazar"]
print(list(enumerate(days,1)))

[(1, 'Pzt'), (2, 'salı'), (3, 'Çar'), (4, 'Per'), (5, 'Cuma'), (6, 'Cts'), (7, 'Pazar')]

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")
parrot(1000)
print()
parrot(voltage=1000000, action='VOOOOOM')
print()
parrot('a million', 'bereft of life', 'jump')
print()
parrot('a thousand', state='pushing up the daisies')

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")
parrot(voltage=1000000, action='VOOOOOM')

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
a='i'
b='love'
c='you'
def texter(c,a,b):
  print(a,b,c)
texter('you', 'i', 'love')

i love you

In [ ]:
#import calendar
print(calendar.month(2021,08))
calendar

SyntaxError: ignored

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
count, fruit, price = (2, 'apple', 3.5) #tuple unpacking?

In [ ]:
z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
print(z)

{'q', 'p', 'b', 'c', 'san', 'a'}

In [ ]:
a={}
a['a']=1
a['b']=[2,3,4]
print(a)

{'a': 1, 'b': [2, 3, 4]}

In [ ]:
d = {"john":40, "peter":45}
d["john"]

40

In [ ]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

In [ ]:
for x in set('pqr'):
  print(x*2)

pp
qq
rr

In [ ]:
n=int(input("To list the prime numbers, pls enter a number  up to 1000 :"))
liste=[]
for i in range(1,n):
  for x in range(2,i):
    if (i%x==0):
      break
  else:
    liste.append(i)
print(liste)

To list the prime numbers, pls enter a number  up to 1000 :100
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# Fibonacci numbers
listem=[1]
x=0 
y=1
while x < 55:
  x=x+y
  y=y+x
  listem.append(x)
  listem.append(y)
listem.remove(y)
print(listem)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
set1 = {1, 2, 3}
set2 = set1.copy()
set2.add(4)
print(set1)

{1, 2, 3}

In [ ]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3}
D['1'] = 2
print(D[D[D[str(D[1])]]])

3

In [ ]:
T = (1, 2, 3, 4, 5, 6, 7, 8)
print(T[-1])
print(T.index(5)) # kümedeki 5'in indeks sırası nedir? 0,1,2,3,(4)
print(T[T.index(5)]) # kümede 4. indekste/sırada hangi rakam vardır? T[4]=5
print(T[T.index(5)], end = " ")
print(T[T[T[6]-3]-6]) # T[-1]=8

8
4
5
5 8

In [ ]:
L1 = []
L1.append([1, [2, 3], 4])
print(L1)
L1.extend([7, 8, 9])
print(L1)
print(L1[0][1][1] + L1[2])

[[1, [2, 3], 4]]
[[1, [2, 3], 4], 7, 8, 9]
11

In [ ]:
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

[1, 3, 6, 10]

In [ ]:
filter()

In [ ]:
listem=[1,2,3,4,5,6]
[i**2 for i in listem]

[1, 4, 9, 16, 25, 36]

In [ ]:
listem=[1,2,3,4,5,6]
[i**2 for i in listem if i%2]

[1, 9, 25]

In [ ]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [ ]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
listem=[]
for i in range(5):
  listem.append(i)
listem

[0, 1, 2, 3, 4]

In [ ]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]
for i in names:
  for j in mood:
    print(i,j)

susan happy
susan sad
tom happy
tom sad
edward happy
edward sad

In [ ]:
liste=[11,2,24,61,48,33,31]
even=0 
odd=0
for i in liste:
  if i % 2 :
    even+=1
  else: odd+=1
print(even,odd)

4 3

In [ ]:
liste=[11,2,24,61,48,33,31]
even=0 
odd=0
for i in liste:
  if i % 2 == 0 :
    even+=1
  else: odd+=1
print(even,odd)

3 4

In [ ]:
#amstrong sayı bulma
while True:
  number=input("enter a positive integer number: ")
  digits=len(number)
  summ=0
  if not number.isdigit():
    print(number,"is invalid entry.")
  elif int(number)>0:
    for i in range(digits):
      summ=summ+int(number[i])**digits
    if summ==int(number):
      print(number,"is an armstrong number")
      break
    else :
      print(number,"is not an Armstrong number.Sorry")
      break

enter a positive integer number: 1
1 is an armstrong number

In [ ]:
num = int(input("Enter a number: "))
if num > 1:
  for i in range(2,num):
    if (num % i) == 0:
      print(num,"is not a prime number")
      break
  else:
      print(num,"is a prime number")

Enter a number: 11
11 is a prime number

In [ ]:
# Program to check if a number is prime or not

num = 29

# To take input from the user
#num = int(input("Enter a number: "))

# define a flag variable
flag = False

# prime numbers are greater than 1
if num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

# check if flag is True
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

In [ ]:
# Program to check if a number is prime or not

num = 407

# To take input from the user
#num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:

In [ ]:
x = input(Enter the age:)

In [ ]:
# Create a function that takes in a list and returns a list of the accumulating sum.
# accumulating_list([1, 2, 3, 4]) ➞ [1, 3, 6, 10]
# [1, 3, 6, 10] can be written as  [1, 1 + 2, 1 + 2 + 3, 1 + 2 + 3 + 4]
# accumulating_list([1, 5, 7]) ➞ [1, 6, 13]
# accumulating_list([1, 0, 1, 0, 1]) ➞ [1, 1, 2, 2, 3]
# accumulating_list([]) ➞ []

num = [1, 2, 3, 4]
new_list = []
i = 0
a = 0
while i < len(num):
    a += num[i]
    i += 1
    new_list.append(a)
new_list

SyntaxError: ignored

In [ ]:
def accumulating_list(lst):
	k=0
	t=[]
	for i in range(len(lst)):
		k=k+lst[i]
		t.append(k)
	return t

In [ ]:
def accumulating_list(lst):
    return [sum(lst[:i+1]) for i in range(len(lst))]

In [ ]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]
for i in names:
  print("Hello", i)

hello Ahmed
hello Aisha
hello Adam
hello Joseph
hello Gabriel

In [ ]:
x = input("enter a positive integer number:")
xx = float(x)
if xx < 0 or xx//1 != xx/1 : 
  print("It is an invalid entry. Don't use non-numeric, float, or negative values!") 
 
else :  
  liste = list(x)
  n = len(liste)
  y = 0
  z = 0
  while y < n :
    z = z + (int(liste[y]))**n
    y = y + 1
  if z == int(x) : 
    print("{} is an armstrong number.".format(z))
  else :
    print("{} is not an armstrong number.".format(z))

enter a positive integer number:9.8
It is an invalid entry. Don't use non-numeric, float, or negative values!

In [ ]:
psw = "Rock.43"
name = input("Enter your name:")
if name == "Ahmet" : print ("Hello, Ahmet! The password is: Rock.43")
else : print("Hello {}! See you later.".format(name))

Enter your name:eren
Hello eren! See you later.

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
output=[]
fruit_tuple_0 = (fruits[0], quantities[0], prices[0])
output.append(output)
fruit_tuple_1 = (fruits[1], quantities[1], prices[1])
output.append(output)
fruit_tuple_2 = (fruits[2], quantities[2], prices[2])
output.append(output)
print(fruit_tuple_0, fruit_tuple_1, fruit_tuple_2)

('Apples', 5, 1.5) ('Oranges', 3, 2.25) ('Bananas', 4, 0.89)

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
  for qty in quantities:
    for price in prices:
      output.append((fruit, qty, price))
  i += 1
print(output)

[('Apples', 5, 1.5), ('Apples', 5, 2.25), ('Apples', 5, 0.89), ('Apples', 3, 1.5), ('Apples', 3, 2.25), ('Apples', 3, 0.89), ('Apples', 4, 1.5), ('Apples', 4, 2.25), ('Apples', 4, 0.89), ('Oranges', 5, 1.5), ('Oranges', 5, 2.25), ('Oranges', 5, 0.89), ('Oranges', 3, 1.5), ('Oranges', 3, 2.25), ('Oranges', 3, 0.89), ('Oranges', 4, 1.5), ('Oranges', 4, 2.25), ('Oranges', 4, 0.89), ('Bananas', 5, 1.5), ('Bananas', 5, 2.25), ('Bananas', 5, 0.89), ('Bananas', 3, 1.5), ('Bananas', 3, 2.25), ('Bananas', 3, 0.89), ('Bananas', 4, 1.5), ('Bananas', 4, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
  temp_qty = quantities[i]
  temp_price = prices[i]
  output.append((fruit, temp_qty, temp_price))
print(output)

[('Apples', 5, 1.5), ('Oranges', 5, 1.5), ('Bananas', 5, 1.5)]

In [ ]:
a, _, b, _ = (10, 20, 30, 40)
_

40

In [ ]:
items = (10, 20)
x, y = items
x

10

In [ ]:
a = int(input("Bir sayı giriniz= "))
b = int(input("Bir sayı giriniz= "))
if a > b:
    print ("{} den {} büyüktür".format(a ,b))
else:
    print ("{} den {} büyüktür".format(b ,a))

In [ ]:
A=input("A: Bir sayı giriniz")
B=input("B: Bir sayı giriniz")
C=input("C: Bir sayı giriniz")
if A>B and A>C: print("En büyük sayı A")
elif B>A and B>C: print("En büyük sayı B")
else: print("En büyük sayı C")

A: Bir sayı giriniz8
B: Bir sayı giriniz7
C: Bir sayı giriniz6
En büyük sayı A

In [ ]:
boolean_value = False
if boolean_value : print("Yes")
else: print("No")

No

In [ ]:
saved_amount = int(input('Please enter your saved amount: '))
if saved_amount <= ps4_price/2:
    print('You must save more, keep saving!')
elif saved_amount > ps4_price/2 and saved_amount < ps4_price:
    print('You saved more than half, keep saving!')
else:
    print('Yippee! You can buy your PS4')

In [ ]:
math_mark = int(input('Please enter the mark: '))

if math_mark >= 85:
    print('A (Excellent)')
elif math_mark < 85 and math_mark >= 70:
    print('B (Good)')
elif math_mark < 70 and math_mark >= 60:
    print('C (Medium)')
elif math_mark < 60 and math_mark >= 45:
    print('D (Not Bad)')
else:
    print('F (Failed)')

In [ ]:
saved_amount = int(input('Please enter your saved amount: '))
if saved_amount <= ps4_price/2:
    print('You must save more, keep saving!')
elif saved_amount > ps4_price/2 and saved_amount < ps4_price:
    print('You saved more than half, keep saving!')
else:
    print('Yippee! You can buy your PS4')

In [ ]:
math_mark = int(input('Please enter the mark: '))
if math_mark >= 85 : print("A (Excellent)")
if math_mark >= 70 and math_mark < 85 : print("B (Good)")
if math_mark >= 60 and math_mark < 70 : print("C (Medium)")
if math_mark >= 45 and math_mark < 60 : print("D (Not Bad)")
else:
  print("F (Failed)")

Please enter the mark: 66
C (Medium)
F (Failed)

In [ ]:
x = int(input("First Number: "))
y = int(input("Second Number: "))
if x > y:
  print(f"{x} is larger than {y}")
else:
  print(f"{y} is larger than {x}")

First Number: 45
Second Number: 45
45 is larger than 45

In [ ]:
usernt=int(input("acs"))%2==0
if usernt:
    print("even")
else:
    print("odd")

acs56
even

In [ ]:
AND ve OR larla ilgili küçük bir açıklama :
Birden fazla "OR" işleme sokulduğunda value'lar içerisinde İLK True/Truty gördüğünde onu döndürür. 
Çünkü OR'un özelliği gereği nasılsa sonuç True/Truty çıkacak. geri kalanı False da olsa önemi yok!
Birden fazla "AND" ile işleme sokulan "True/Truty" value'lardan SONUNCU True/Truty olanı döndürür 
çünkü value'lardan biri bile False olsa sonuç False döneceği için sonuna kadar gidip bakması gerekiyor 
ve sonuncu True/Truty'i döndürüyor.

In [ ]:
#0'dan 11'e kadar sayilarin karelerini while dongusu ve If kullanarak liste halinde cikaralim.
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
for i in list :
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144

In [ ]:
print([i**2 for i in range(11)]) #bu da for lu list comprenhension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#A comfortable word is a word which you can type always alternating the hand you type with.
#create a function which receives a word and returns true/True if it's a comfortable word and False otherwise.
#The word will always be a string consisting of only ascii letters from a to z.
left = {'q', 'w', 'e', 'r', 't', 'a', 's', 'd', 'f', 'g', 'z', 'x', 'c', 'v', 'b'}
right = {'y', 'u', 'i', 'o', 'p', 'h', 'j', 'k', 'l', 'n', 'm'}
word = input('Enter a word:')
print((set(word) & left) != set() and  (set(word) & right) != set())

Enter a word:ankara
True

In [ ]:
left = {'q', 'w', 'e', 'r', 't', 'a', 's', 'd', 'f', 'g', 'z', 'x', 'c', 'v', 'b'}
right = {'y', 'u', 'i', 'o', 'p', 'h', 'j', 'k', 'l', 'n', 'm'}
word = set(input('Enter a word:'))
print((word & left) != set() and  (word & right) != set())

Enter a word:poh
False

In [ ]:
left_hand = set("qwertasdfgzxcvb")
right_hand = set("yuıopğühjklşinmöç")
word = input("please one word writing :")
word2 = set(word)
if  word2 in (word2&left_hand, word2&right_hand):
    print("this word noncomfortable")
else:
    print("this word comfortable")

In [ ]:
left_letter = [‘a’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’, ‘g’, ‘q’, ‘r’, ‘s’, ‘t’, ‘v’, ‘w’, ‘x’, ‘z’]
right_letter = [‘h’, ‘i’, ‘j’, ‘k’, ‘l’, ‘m’, ‘n’, ‘o’, ‘p’, ‘u’, ‘y’]
your_text = input(‘Please enter a text > ’)
left_bool = False
right_bool = False
for i in your_text:
    if i in left_letter:
        left_bool = True
    if i in right_letter:
        right_bool = True
if right_bool == True and left_bool == True:
    print(‘Your text is a comfortable word.’)
elif right_bool == True and left_bool == False:
    print(‘Your text contains only right-hand letters.’)
elif right_bool == False and left_bool == True:
    print(‘Your text contains only left-hand letters.’)
else:
    print(‘Your text does not contain any letters.’)

In [ ]:
left_figer = ["q", "w", "e", "r", "t", "a", "s", "d", "f", "g", "z", "x", "c", "v", "b"]
right_finger = ["y", "u", "i", "o", "p", "h", "j", "k", "l", "n", "m"]
word = input("Please enter the word you want to know if it is comfortable")
for x in left_figer:
    if x in list(word):
        for y in right_finger:
            if y in list(word):
                print("The word you entered is comfortable number.")
                break
            else:
                print("The word you entered is not a comfortable number.")
                break
    else:
        print("The word you entered is not a comfortable number.")
        break

In [ ]:
left_hand = {‘q’,‘a’,‘z’,‘w’,‘s’,‘x’,‘e’,‘d’,‘c’,‘r’,‘f’,‘v’,‘t’,‘g’,‘b’}
right_hand = {‘y’,‘h’,‘n’,‘u’,‘j’,‘m’,‘i’,‘k’,‘o’,‘l’,‘p’}
word = set(input(‘enter word: ’).strip().lower())
result = not(word.issubset(left_hand) or word.issubset(right_hand))
print(result)

In [ ]:
left = set("qwertasdfgzxcvb ")
right = set("yuıopğhjklşinmöç ")
word = input("Please input a word to check whether it is 'comfortable' or not :")
word_set = set(word.lower())
comfortable = word_set.issubset(right) or word_set.issubset(left)
print(comfortable)

In [ ]:
left_hand = ["q","a","z","w","s","x","e","d","c","r","f","v","t","g","b"] 
right_hand = ["y","h","n","u","j","m","ı","k","o","l","p","ö","ç","ş","i","ü","ğ"] 
print("This program will show you whether the word you enter is comfortable word for ten finger typing\
\n(without any space) enter only one word:") 
word = input() 
a = False 
b = False 
for i in range(len(list(word))) :
    a = a or (word[i] in left_hand) 
    b = b or (word[i] in right_hand) 
if (a and b) == True : 
      print(f"{a and b}"+" (uses both hand fingers)") 
else : 
    if a == True : 
        print(f"{not a}"+" (uses only left-hand fingers)") 
    elif b == True : 
        print(f"{not b}"+" (uses only right-hand fingers)")

In [ ]:
word = bool(set("tester").intersection(left_hand)) and bool(set("tester").intersection(right_hand))

In [ ]:
left_hand = set('qwertasdfgzxcvb')
right_hand = set('yuiophjklnm')
word = set(input('Enter a word to be checked: '))
left_check = len(word.difference(left_hand)) 
right_check = len(word.difference(right_hand))
print((left_check==0 and 'Uses only left-hand fingers!') or \
      (right_check==0 and 'Uses only right-hand fingers!') or ('Uses both hand fingers!'))

In [ ]:
left = ['q','w','e','r','t','a','s','d','f','g','z','x','c','v','b']
right = ['y','u','i','o','p','h','j','k','l','n','m']
word = input('bir kelime giriniz :  ')
a = []
for i in word:
  a.append(i)
print(bool((set(left) & set(a)) and (set(right) & set(a)) ))

In [ ]:
Left_hand = ["q", "w", "e", "r", "t", "a", "s", "d", "f", "g", "z", "x", "c", "v", "b"]
Right_hand = ["y", "u", "i", "o", "p", "h", "j", "k", "l", "n", "m"]
set_left = set(Left_hand)
set_right = set(Right_hand)
word = input("Enter a word= ")
set_word = set(word)
son = (set_word.isdisjoint(set_right) == 0) and (set_word.isdisjoint(set_left) == 0)
print("Is word comfortable ? : " + str(son))

In [ ]:
def comfortable_word(x):
    left = ["q", "w", "e", "r", "t", "a", "s", "d", "f", "g", "z", "x", "c", "v", "b"]
    y = set(x)
    le = 0
    ri = 0
    for i in y:
        if i in left:
            le += 1
        else:
            ri += 1
    if ri != 0 and le != 0:
        return True
    else:
        return False
print(comfortable_word("tester"))
print(comfortable_word("polly"))
print(comfortable_word("clarusway"))

In [ ]:
text = (input("enter a word :")).lower().strip()
text1 = set(text)
left = set('qwertasdfgzxcvb')
right = set('yuıophjklnm')
print((text1 - left == set()) or (text1 - right == set()))

In [ ]:
left_hand = set("qwertasdfgzxcvb")
right_hand = set("yuıopğühjklşinmöç")
word = input("please one word writing :")
word2 = set(word)
if  word2 in (word2&left_hand, word2&right_hand):
    print("this word noncomfortable")
else:
    print("this word comfortable")

In [ ]:
# Comfortable words
left_hand = set("qwertasdfgzxcvb")
right_hand = set("yuıopğühjklşinmöç")
kelime = set(input("Enter a word: "))
if ((kelime & right_hand) and (kelime & left_hand)):
  print("True")
else:
  print("False")

In [ ]:
left_hand= set("qwertasdfgzxcvb")
right_hand= set("yuıopğühjklşinmöç")
word = input("Enter a word :").title().strip()
if (set(word)-left_hand) == set(word):
    print("False : uses only right-hand fingers.")
elif (set(word)-right_hand) == set(word):
  print("False : uses only left-hand fingers.")
else:
  print("True : uses both hand fingers.")

In [ ]:
Left = {'q', 'w', 'e', 'r', 't', 'a', 's', 'd', 'f', 'g', 'z', 'x', 'c', 'v', 'b'}
Right = {'y', 'u', 'i', 'o','p', 'h', 'j', 'k', 'l', 'n', 'm'}
word = set(input("write a word: ").lower().strip())
left = bool(word.intersection(Left))* "False (uses only left-hand fingers)"
right = bool(word.intersection(Right))* "False (uses only right-hand fingers)"
both = bool(left and right)* "True (uses both hand fingers)"
both or right or left

In [ ]:
counter1 = 0
counter2 = 0
left_hand_letters = ["q","w","e","r","t","a","s","d","f","g","z","x","c","v","b"]
right_hand_letters = ["y","u","ı","o","p","ğ","ü","h","j","k","l","ş","i","n","m","ö","ç"]
comfortable_word = ["q","w","e","r","t","a","s","d","f","g","z","x","c","v","b","y","u","ı","o","p","ğ","ü","h","j","k","l","ş","i","n","m","ö","ç"]
a = list(input("Kelimeyi giriniz: "))
for i in a:
   if i in left_hand_letters:
       counter1 += 1
   else:
       counter2 += 1
if counter1 == 0 or counter2 == 0:
   print(False)
else:
   print(True)

In [ ]:
left_hand = set("qwertyasdfgzxcvb")
right_hand = set("uıopğühjklşinmöç")
a = set(input("enter a word : "))
if (a & right_hand) and (a & left_hand):
  print("your word is comfotable")
else:
  print("you word is not comfotable")

In [ ]:
 #you are given a string of space separated numbers, and have to return the highest and lowest number. 
 #Example: highAndLow("1 2 3 4 5"); // return "5 1"
 
 def high_and_low(str):
    return f"{max(str.split())} {min(str.split())}"
# eğer stringi boşluklara göre böldükten sonra sayıları int e çevirmezsek yanlış sonuç alırız 
# Mesala bu "5 25 7 9" stringinde max=9 min=25 bulur. Çünkü strdeki ilk rakama bakar. sayı değerine değil

In [ ]:
def high_and_low(numbers):
    a = [int(i) for i in numbers.split(" ")]
    return f"{max(a)} {min(a)}"

In [ ]:
my_listst=[1,2,5,4,2,4,1,2,5,6,2,44,2,5,5,5,5]
my_count=[my_listst.count(cnt) for cnt in my_listst]
print(my_listst[my_count.index(max(my_count))])

5

In [ ]:
def is_isogram(txt):
    txt = txt.lower()
    for letter in txt:
        if txt.count(letter) > 1:
            return False
    return True

In [ ]:
def is_isogram(txt):
  return len(txt) == len(set(txt.lower()))

In [ ]:
tuple1=tuple(range(1,11))
tuple2=tuple(range(1,8))
a,b,c=0,1,2
while a<len(tuple1):
     print( "{} x {}={}".format(tuple1[a],b,tuple1[a]*b))
     a = a + 1
a=0
while a<len(tuple2):
     print( "{} x {}={}".format(tuple1[a],c,tuple1[a]*c))
     a = a + 1

1 x 1=1
2 x 1=2
3 x 1=3
4 x 1=4
5 x 1=5
6 x 1=6
7 x 1=7
8 x 1=8
9 x 1=9
10 x 1=10
1 x 2=2
2 x 2=4
3 x 2=6
4 x 2=8
5 x 2=10
6 x 2=12
7 x 2=14

In [ ]:
for i in range(1,3):
    for j in range(1,11):
        print("{} x {} =".format(i,j),i*j)
        if i*j>=14:
            break

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14

In [ ]:
para = 1000
gunluk_kazanc = enumerate([para*(1.07)**i for i in range(1,8)],1)
print(list(gunluk_kazanc))

[(1, 1070.0), (2, 1144.9), (3, 1225.0430000000001), (4, 1310.7960100000003), (5, 1402.5517307000005), (6, 1500.7303518490005), (7, 1605.7814764784307)]

In [ ]:
# Would you choose a $1,000,000 or a penny that doubles in value every day for 30 days? 
days_to_compare = int(input("How many days do you want to compare : "))
money_to_compare = int(input("How much money do you want to compare : "))
daily_increased_money__list = list(enumerate([0.01*(2**(i-1)) for i in range(1,days_to_compare+1)],1))
#print(daily_increased_money__list)
if money_to_compare <=  daily_increased_money__list[days_to_compare-1][1]:
    print("I will choose daily money")
else:
    print("I will choose initial big money")

How many days do you want to compare : 30
How much money do you want to compare : 10000
I will choose daily money

In [ ]:
dict_by_dict = {"numbers":[1,2,3],"colours":["red", "white", "black"]}
print(dict_by_dict.items(), dict_by_dict.keys(), dict_by_dict.values(), sep="\n")

dict_items([('numbers', [1, 2, 3]), ('colours', ['red', 'white', 'black'])])
dict_keys(['numbers', 'colours'])
dict_values([[1, 2, 3], ['red', 'white', 'black']])

In [ ]:
# mail = "from Ahmet, mail to: abcxyz@gmail.com  15:1990:01"
# Yukarıdaki mail değişkenine atanan değerden, sadece "gmail.com" bölümünü çıktı verecek kodu yazınız.
mail = "from Ahmet, mail to: abcxyz@gmail.com 15:1990:01"
start = mail.find("@") # Burada @'nin indexini buluyorum.
end = mail.find("com") # Burada "com" un indexini buluyorum
end = end+3 # indexi "com"dan itibaren aldığım için c'nin indexini veriyor. ,
# Bu yüzden üzerine 3 ekleyip istenilen aralığı alabileceğim indexi belirliyorum.
print(mail[start+1:end]) # Result

gmail.com

In [ ]:
mail = "from Ahmet, mail to: abcxyz@gmail.com  15:1990:01"
index = mail.find('@')
print(mail[index+1:index+10])

gmail.com

In [ ]:
mail = "from Ahmet, mail to: abcxyz@gmail.com  15:1990:01"
print(mail[28:37])

gmail.com

In [ ]:
a, b, c = [], [], [[]]
a.append(a)
print(a)
print(b)
print(c)
print(len(a))
print(len(b))
print(len(c))

[[...]]
[]
[[]]
1
0
1

In [ ]:
a = set("twelve plus one")
b = set("eleven plus two")
if a == b:
  print("we are the same!")

we are the same!

In [ ]:
a = []
a.append(a)
print(a in a)
print(a)
# 3 nokta göstermesinin nedeni elemanı olmayan bir listenin aynı zamanda başka bir listenin elemanı olması, 
# bir listenin, boş elemanlı bir listeden oluşan bir elemanı olmasından kaynaklanıyor.

True
[[...]]

In [ ]:
str = "Python Software Foundation"
s = str.split()
s = sorted(s)
s = " ".join(s)
print(s[2:5])

und

In [ ]:
n = "325"
n = int(n)
d1 = n  % 10
n = n // 10
d2 = n % 10
n = n // 10
print (n + d1 + d2)
# sırasıyla ; d1= 5  n = 32  d2=2  n=3   n+d1+d2=10

10

In [ ]:
x = input("ilk orta ve son harfini yazdırmak iztediğiniz kelimeyi giriniz: harf sayısı tek olmalıdır!")
y = input("ilk orta ve son harfini yazdırmak iztediğiniz kelimeyi giriniz: harf sayısı tek olmalıdır!")
middle_ch_x= int(len(x) / 2)
middle_ch_y= int(len(y) / 2)
print(x[0]+y[0]+x[middle_ch_x]+y[middle_ch_y]+x[-1]+y[-1])

ilk orta ve son harfini yazdırmak iztediğiniz kelimeyi giriniz: harf sayısı tek olmalıdır!ahmet
ilk orta ve son harfini yazdırmak iztediğiniz kelimeyi giriniz: harf sayısı tek olmalıdır!hasan
ahmstn

In [ ]:
x = input("ilk orta ve son harfini yazdırmak iztediğiniz kelimeyi giriniz: harf sayısı tek olmalıdır!")
y = input("ilk orta ve son harfini yazdırmak iztediğiniz kelimeyi giriniz: harf sayısı tek olmalıdır!")
middle_ch_x= int(len(x) / 2)
middle_ch_y= int(len(y) / 2)
last_ch_x = int(len(x)-1)
last_ch_y = int(len(y)-1)
print(x[0]+y[0]+x[middle_ch_x]+y[middle_ch_y]+x[last_ch_x]+y[last_ch_y])

ilk orta ve son harfini yazdırmak iztediğiniz kelimeyi giriniz: harf sayısı tek olmalıdır!ahmet
ilk orta ve son harfini yazdırmak iztediğiniz kelimeyi giriniz: harf sayısı tek olmalıdır!hasan
ahmstn

In [ ]:
# Given two strings, s1, and s2 return a new string made of the first, middle, and last characters each input string
# Given: s1 = "America"   s2 = "Japan"    Output   AJrpan
def ilkortason(strings):
    middle_ch = int(len(strings) / 2)
    first_middle_end = strings[::middle_ch]
    print(first_middle_end)
s1 = "America"
s2 = "Japan"
ilkortason(s1)
ilkortason(s2)
print(s1[0]+s2[0]+s1[3]+s2[2]+s1[6]+s2[4])

Ara
Jpn
AJrpan

In [ ]:
print([ x*2 for x in range(1,11) if x %2 ==0])

[4, 8, 12, 16, 20]

In [ ]:
print([ x*2 for x in range(1,11)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Python da bir formül yazdıktan sonra altına pythonu kullanarak bir emoji atmak çok havalı olmaz mı
print("\U0001F917")
print("\U0001F637")
print("\U0001F62A")
print("\U0001F618")
print("\U0001F600")

🤗
😷
😪
😘
😀

In [ ]:
given_list = [1, 2, 3, 3, 3, 3, 4, 4, 5, 5]
given_list

[1, 2, 3, 3, 3, 3, 4, 4, 5, 5]

In [ ]:
test = {1, 2, 3, 3, 3, 3, 4, 4, 5, 5}
test

{1, 2, 3, 4, 5}

In [ ]:
a = {'carnation', 'orchid', 'rose', 'violet'}
b = {'rose', 'orchid', 'rose', 'violet', 'carnation'}
a == b

True

In [ ]:
test = {1, "bir", 1.0}
len(test)

2

In [ ]:
letter = "a b c d e f".split()
print(letter)
print(set(letter))

['a', 'b', 'c', 'd', 'e', 'f']
{'f', 'd', 'e', 'c', 'a', 'b'}

In [ ]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print("%d * %d = %d" %(n, i, n*i))

enter a number between 1-109
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

enter a number between 1-109
9x0 =  0
9x1 =  9
9x2 =  18
9x3 =  27
9x4 =  36
9x5 =  45
9x6 =  54
9x7 =  63
9x8 =  72
9x9 =  81
9x10 =  90

In [ ]:
iterable = [1, 2, 3, 4]
for i in iterable :
  print(i*i)

1
4
9
16

In [ ]:
for i in {'n1' : 'one', 'n2' : 'two'} : print(i)

n1
n2

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']

for m in seasons :
    print(m)

spring
summer
autumn
winter

In [ ]:
for x in [1, 2, 3, 4, 5] :
    print(x)

1
2
3
4
5

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count1 > 0 :
    print(flowers[count2])
    count1 -= 1
    count2 += 1

Rose
Orchid
Tulip

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
What number am I thinking of?  40
Little higher
What number am I thinking of?  50
Little lower
What number am I thinking of?  45
Little lower
What number am I thinking of?  43
Little higher
What number am I thinking of?  44
Are you a MINDREADER!!!

In [ ]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
elif score >= 70:
    if score >= 75:
        Score_letter="C+"
    else:
        Score_letter="C"
elif score >= 60:
    if score >= 65:
        Score_letter="D+"
    else:
        Score_letter="D"    
elif score >= 50:
    if score >= 55:
        Score_letter="E+"
    else:
        Score_letter="E"           
else:
    Score_letter="F, dersi geçemediniz"

print ("Your degree: %s" % Score_letter)

Enter your score :99
Your degree: A+

In [ ]:
number = 23
if number >= 10 :
    print('The number is equal or greater than 10')
else :
    print('The number is less than 10')

The number is equal or greater than 10

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
freq = {}
for item in freq:
    if (item in freq):
        freq[item] += 1
    else:
        freq[item] = 1
 
    for key, value in freq.items():
        print ("% d : % d"%(key, value))

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3] 
tekrar_durumu = {i : numbers.count(i) for i in set(numbers)} 

def max_tekrar_eden(numbers): 
  return max(set(numbers), key = numbers.count) 
a = max_tekrar_eden(numbers) 

list_max_tekrar_sayısı = []
for val in tekrar_durumu.values(): 
  list_max_tekrar_sayısı.append(val) 
b = max(list_max_tekrar_sayısı)

print("Tekrar Durumu:", tekrar_durumu)
print("En çok tekrarlanan sayı:", a, ",", "Tekrar sayısı:", b)

Tekrar Durumu: {0: 1, 1: 1, 3: 4, 4: 1, 6: 1, 7: 1}
En çok tekrarlanan sayı: 3 , Tekrar sayısı: 4

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3] 
tekrar_durumu = {i : numbers.count(i) for i in set(numbers)} 
x = len(numbers)
if i not in numbers : x-=1
print(i)
  
#def max_tekrar_eden(numbers): 
#  return max(set(numbers), key = numbers.count) 
#a = max_tekrar_eden(numbers) 

#list_max_tekrar_sayısı = []
#for val in tekrar_durumu.values(): 
#  list_max_tekrar_sayısı.append(val) 
#b = max(list_max_tekrar_sayısı)

print("En çok tekrarlanan sayı:", a, ",", "Tekrar sayısı:", b)

7
En çok tekrarlanan sayı: 3 , Tekrar sayısı: 4

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
tekrar_durumu = {i : numbers.count(i) for i in set(numbers)}

print(tekrar_durumu)

{0: 1, 1: 1, 3: 4, 4: 1, 6: 1, 7: 1}

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
def most_frequent(numbers):
    return max(set(numbers), key = numbers.count)
print(most_frequent(numbers))

3

In [ ]:
sayılar = {"tek" : [],
           "çift" :[]}
sayılar["tek"]

[]

In [ ]:
sayılar["tek"]

NameError: ignored

In [ ]:
first_dict = {1 : "one", "two" : 2, False : [1,2,3]}

In [ ]:
first_dict

NameError: ignored

In [ ]:
third_dict = {(1,2,3) : "liste", "clarus" : "the best"}

In [ ]:
third_dict

{(1, 2, 3): 'liste', 'clarus': 'the best'}

In [ ]:
family = {"name1" : "ay",
          "name2" : "haso",
          "name3" : "taso"}
print(familiy)

NameError: ignored

In [ ]:
print(family)

NameError: ignored

In [ ]:
print("xyyzxyyzxzxyy".count('yy', 2))

2

In [ ]:
print(format("Welcome", "10s"))

print(format(111, "7d"), end = '#')

print(format(924.656, ".2f"))

Welcome
    111#924.66

In [ ]:
example="snow world"
print("%s" % example[4:7])

 wo

In [ ]:
list_1 = ['one', 'four', 'nine']
list_2 = ['@', '*-', 'False']
list_3 = [True, False]
list_4 = [[3], [44], [-12]]
list_5 = [[1, 3], [44, -40], [-12, 1]]
list_2.sort()
list_2
list_5.sort()
list_5

[[-12, 1], [1, 3], [44, -40]]

In [ ]:
list_1 = ['one', 'four', 'nine']
list_1.sort()
list_1

['four', 'nine', 'one']

In [ ]:
len("a b")

3

In [ ]:
len(["a b"])

1

In [ ]:
len(["a b", False, None, []])

4

In [ ]:
len(1234) # integer iterable değil, elemanlarına ayrılamaz

TypeError: ignored

In [ ]:
[1,3,6,9][2] #listeyi bir değişkene atamadan doğrudan indeksleyebiliriz
# listenin 2. elemanını ver

6

In [ ]:
liste=[1,[1,3,5,7,9,11],4]
liste[1][::2]

[1, 5, 9]

In [ ]:
text='tyou can learn almost everything in pre-classz'
text_1=text.lstrip("t").rstrip("z").upper()
text_1

'YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS'

In [ ]:
pwd

'/content'

In [ ]:
ls

sample_data/

In [ ]:
# Assignment 3. All variables have either True or False
age = False  # Are you a cigarette addict older than 75 years old?
chronic = False  # Do you have a severe chronic disease?
immune = True  # Is your immune system too weak? False means immune system is strong enough
risk = ((age or chronic) and immune) or immune  # if True, there is a risk
print(risk)

True

In [ ]:
# Assignment 3. All variables have either True or False
age = True  # Are you a cigarette addict older than 75 years old?
chronic = True  # Do you have a severe chronic disease?
immune = True  # Is your immune system too weak? True means immune system is too weak
risk = age or chronic or immune # if True, there is a risk
print(risk)

True

In [ ]:
my_list = list (range(1,11))
for n in range(1,11,-1))
print(n)

SyntaxError: ignored

In [ ]:
set((1,2,2,3,4,5))

{1, 2, 3, 4, 5}

In [ ]:
my_list=list(range(1,11))
my_list=my_list.sort()
print(my_list[::-1])

In [ ]:
a = 1
print(-a)

-1

In [ ]:
a = 3

In [ ]:
b=-11
print(-b)

11

In [ ]:
a = 3
b = 4
print("The sum of {} + {} is {}".format(a, b, a+b))

The sum of 3 + 4 is 7

In [ ]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.367, 7.324324)
print(text)

3.15, 5.367, 7.3243

In [ ]:
text = "{:.2s}, {:.3s}, {:.4s}".format("a3.1463", "5.b367", "7.324324c")
print(text)

a3, 5.b, 7.32

In [ ]:
text = "{:.2}, {:.3}, {:.4}".format("3.1463", "a5.367", "7.324324")
print(text)

3., a5., 7.32

In [ ]:
text = "{:>10}".format("test")  # 10 karakterlik bir alanda sağa yaslama
text

'      test'

In [ ]:
text = "{:<10}".format("test")
text

'test      '

In [ ]:
text = "bla bla {:<15} formatlama cümleciği".format("ökkeş")
text

'bla bla ökkeş           formatlama cümleciği'

In [ ]:
text = "{:^20}".format("abc")  # 20 karakterleik alan içine ortalama
text

'        abc         '

In [ ]:
"{:10.5}".format("hippopotamus")  #  5 karakterini

'hippo     '

In [ ]:
"{:>15.5}".format("hippopotamus")

'          hippo'

In [ ]:
"{:+d}".format(115)  # +115

'+115'

In [ ]:
a=["2020's hard"]
print(a)

["2020's hard"]

In [ ]:
sayılar=[3,5,7]
sayılar.remove(3)
sayılar

[5, 7]